---
import AdminLayout from "../../layouts/Admin-Layout.astro";

import { supabase } from "../../db/supabase";

async function getPromociones() {
  console.log("Fetching promociones...");
  const { data, error } = await supabase.from("promociones").select("*");
  if (error) {
    return [];
  }

  return data;
}

const promociones = await getPromociones();
---

<AdminLayout>
    <div class="p-4 sm:ml-64">
  
            <div class="border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 shadow-2xl">
              <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ">
                    <tr>
                      <th scope="col" class="px-7 py-6">
                        ID Promocion
                      </th>
                      <th scope="col" class="px-7 py-6">
                        Nombre
                      </th>
                      <th scope="col" class="px-7 py-6">
                        Descripcion
                      </th>
                      <th scope="col" class="px-7 py-6">
                        Descuento
                      </th>
                      <th scope="col" class="px-7 py-6">
                        Valido desde
                      </th>
                      <th scope="col" class="px-7 py-6">
                        Valido hasta
                      </th>
                  
                    </tr>
                  </thead>

                  <tbody>
                    {
                      promociones.length > 0 ? (
                        promociones.map((promocion) => (
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-center">
                      <th
                        scope="row"
                        class="px-6 py-4 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white"
                      >
                        {promocion.idpromocion}
                      </th>
                      <td class="px-6 py-4"> {promocion.nombre} </td>
                      <td class="px-6 py-4"> {promocion.descripcion} </td>
                      <td class="px-6 py-4"> {promocion.descuento} </td>
                      <td class="px-6 py-4"> {promocion.valido_desde} </td>
                      <td class="px-6 py-4"> {promocion.valido_hasta} </td>
                      <td class="px-6 py-4">
                        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href={`/promocion/${promocion.idpromocion}`}>Ver</a>
                        <a class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" href={`/promocion/edit?id=${promocion.idpromocion}`}>Editar</a>
                      </td>
                    </tr>
                         ))
        ) : (
          <tr class="bg-white dark:bg-gray-800">
            <td
              colspan="4"
              class="px-6 py-4 text-center text-lg text-gray-500 dark:text-gray-400"
            >
              No hay productos disponibles
            </td>
          </tr>
        )
      }
                  </tbody>
                  
                </table>
              </div>
            </div>
     
    </div>



</AdminLayout>

