---
import AdminLayout from "../layouts/Admin-Layout.astro";

import { supabase } from "../db/supabase";

// Función para obtener productos desde Supabase
async function getProducts() {
    console.log("Fetching products...");
    const { data, error } = await supabase.from("producto").select("*");
    if (error) {
        return [];
    }


    return data;
}

// Ejecutar la obtención de datos antes de renderizar el componente
const productos = await getProducts();

---

<AdminLayout>
    <main>
        <div class="p-4 sm:ml-64">
            {
                productos.length > 0 ? (
                    productos.map((producto) => (
                        <div class="border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
                            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-5">
                                                Nombre
                                            </th>
                                            <th scope="col" class="px-6 py-5">
                                                ID Producto
                                            </th>
                                            <th scope="col" class="px-6 py-5">
                                                Precio
                                            </th>
                                            <th scope="col" class="px-6 py-5">
                                                Categoría
                                            </th>
                                            <th scope="col" class="px-6 py-5">
                                                stock
                                            </th>
                                        
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                            <th
                                                scope="row"
                                                class="px-6 py-4 truncate font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                            >
                                                {producto.nombre}
                                            </th>
                                            <td class="px-6 py-4"> {producto.idproducto} </td>
                                            <td class="px-6 py-4">${producto.precio} </td>
                                            <td class="px-6 py-4"> {producto.categoria_fk} </td>
                                            <td class="px-6 py-4"> {producto.stock} </td>
                                            <td class="px-6 py-4 text-right">
                                             
                                            </td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    ))
                ) : (
                    <tr class="bg-white dark:bg-gray-800">
                        <td
                            colspan="4"
                            class="px-6 py-4 text-center text-lg text-gray-500 dark:text-gray-400"
                        >
                            No hay productos disponibles
                        </td>
                    </tr>
                )
            }
        </div>
    </main>

    <style>
        .truncate {
    max-width: 0; /* Esta propiedad es necesaria para activar text-overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    </style>
</AdminLayout>
